a {
  text-decoration: none;
}


#log {
  background-color: #ffffff10;
  backdrop-filter: blur(15px);
}

body {
  background-image: url(./../img/images/login2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  text-align: center;
  transform-style: preserve-3d;
}

.form-container {
  position: relative;
  height: 550px;
  width: 600px;
  padding: 30px 30px;
  perspective: 1000px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.623);
  animation-name: moving;
  animation-duration: 1s;
  top: 60px;
  margin-left: 28%;
}

@keyframes moving {
  from {top: -100px;}
  to {top: 60px;}
}

.top-btn{
  background-color: #fac102;
  color: whitesmoke;
  width: 500px;
  margin-left: 25px;
  padding: 5px 20px;
  text-align: center;
}

.form-container form {
  position: relative;
  margin: 0 2rem;
  padding: 1rem 2rem;
}

.form-container .input-box{
  background-color: whitesmoke;
  height: 40px;
  padding: 5px 0px;
}

.form-container input{
  background: transparent;
  width: 80%;
  font-size: 20px;
  margin-left: 3px;
  text-transform: none;
}

.form-container .login-btn {
  display: inline-block;
  background: #fac102;
  color: white;
  padding: 0.8rem 2rem;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 20px;
}

.form-container .login-btn:hover {
  background: none;
  color: #fac102;
  border: 1px solid #fac102;
  font-size: 1.7rem;
  font-weight: 600;
}

.form-container form p{
  font-size: 20px;
  font-weight: 1000;
  text-transform: none;
}

.log-alert{
  height: 50px;
  width: 450px;
  background-color: rgba(255, 0, 0, 0.828) !important;
  color: white !important;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  padding: 0px 20px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  border: none !important;
}

.log-suc{
  height: 50px;
  width: 450px;
  background-color: rgba(0, 255, 30, 0.948) !important;
  color: white !important;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  padding: 0px 20px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  border: none !important;
}

.btn-close{
  background-color: white !important;
  color: white !important;
  margin-top: 5px !important;
}


.form-container form label {
  font-size: 1.5rem;
}
  
.form-container .btn {
  display: block;
  width: 100%;
}
  
.form-container p {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: solid black;
  font-weight: 500;
}