.right table,.right th,.right td {
    /* border: 2px solid rgb(16, 107, 6);
    border-collapse: collapse; */
    width: 400px;
    height: 50px;
    text-align: left;
    font-size: 30px;
    /* color: red; */
}

.right table {
    margin-left: auto;
    margin-right: auto;
}

.right th {
    font-size: 20px;
}

.right td {
    width: 500px;
    height: 50px;
    font-size: 20px;
    text-transform: none;
}

.bookings table,.bookings th,.bookings td {
    border: 2px solid rgb(16, 107, 6);
    border-collapse: collapse;
    width: 700px;
    height: 50px;
    text-align: left;
    font-size: 30px;
    color: red;
}

.bookings table {
    margin-left: auto;
    margin-right: auto;
}

.bookings th {
    font-size: 20px;
}

.bookings td {
    width: 500px;
    height: 50px;
    font-size: 20px;
    text-transform: none;
}

.bookings td:nth-child(odd),.bookings th:nth-child(even) {
    background-color: rgb(71, 236, 248);
}

.bookings td:nth-child(even),.bookings th:nth-child(odd) {
    background-color: rgba(246, 246, 122, 0.952);
}

.left {
    width: 50px;
    position: relative;
}

.left .profile_img img{
    width: 350px;
    height: 350px;
    border-radius: 100%;
    border: 20px solid rgba(83, 80, 80, 0.202);
    display: block;
}

.right {
    margin-top: 40px;
    width: 50px;
}
.profile{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.prof-btn{
    margin-left: 230px;
    margin-top: 6px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    background-color: #fac102;
    cursor: pointer;
    padding-top: 7px;
    font-weight: 800;
    font-size: 20px;
    border-radius: 20px;
}
.prof-btn:hover{
    background: none;
    border: 2px solid #fac102;
    color: #fac102;
}
.left a{
    color: whitesmoke;
    display: inline-block;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.right a{
    margin-left: 30px;
    color: whitesmoke;
    display: inline-block;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
    font-size: 60px;
}
a{
    text-decoration-line: none;
}

.profile .left .profile_img{
    position: relative;
    width: 350px;
    height: 350px;
    margin-left: 200px;
}

.profile .left .profile_img .content{
    position: absolute;
    display: none;
    height: 310px;
    width: 310px;
    border-radius: 100%;
    background:rgba(0, 0, 0, 0.527);
    text-align: center;
    bottom: 18px;
    left: 20px;
}

.profile .left .profile_img:hover .content{
    display: block;
}

.profile .left .content a{
    color: whitesmoke;
}

.profile .left .content .pic-btn{
    margin-top: 120px;
    margin-left: 60px;
    font-size: 20px;
    float: left;
}