.addplace form input{
  border: 1px solid black;
}

.addadmin input, .addadmin select {
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  outline: none;
  background: none;
  text-transform: none;
  height: 50px;
  width: 370px;
  line-height: 100%;
  font-size: 18px;
  padding-left: 45px;
  color: #ffbb00e3;
  margin: 10px 0px;
  transition: 0.3s;
}

.add-left {
  position: absolute;
  margin-top: 14%;
  margin-left: 15%;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.7);
  left: 7px;
  top: 15px;
}

.add-right {
  position: absolute;
  margin-left: 60%;
  margin-top: 14%;
  font-size: 30px;
  cursor: pointer;
  left: 7px;
  top: 15px;
  color: rgba(255, 255, 255, 0.9);
}