.log-error {
  height: 45px;
  width: 100%;
  background-color: #f63838;
  position: relative;
  padding-left: 20px;
  grid-template-columns: 90% 10%;
  border-radius: 7px;
}

.log-success{
  height: 45px;
  width: 100%;
  background-color: #00b300;
  position: relative;
  padding-left: 20px;
  grid-template-columns: 90% 10%;
  border-radius: 7px;
}

.log-error,.log-success p {
  font-size: 13px;
  color: #fff;
  text-transform: none;
  position: absolute;
  line-height: 45px;
}

.log-error,.log-success span {
  position: absolute;
  line-height: 45px;
  right: 10px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}
