<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>booking details</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/gallery.css">
    <link rel="stylesheet" href="/css/places.css">
    <link rel="stylesheet" href="/css/footer.css">
    <style>
        body{
            margin-top: 200px;
            background-color: black;
        }
        .adminadd{
            color: white;
            text-align: left;
        }
        .adminadd label{
            font-size: 40px;
        }
        .adminadd .adminbox{
            color: whitesmoke;
            height: 30px;
            width: 500px;
        }
    </style>
</head>
<body>
    <header>
        <div id="menu-bar" class="fas fa-bars"></div>
    
        <a href="/" class="logo"><span>P</span>ACK <span>U</span>R <span>B</span>AGS</a>
        <nav class="navbar">
            <a href="/admins/adminland/<%=locals.user.email%>">Home</a>
        </nav>
    </header>
    <section class="adminadd">
        <form action="/admins/add/<%=user.email%>" method="post">
            <label for="name">Name: </label>
            <input type="text" name="name" class="adminbox"><br>
            <label for="email">Email: </label>
            <input type="text" name="email" class="adminbox"><br>
            <label for="password1">Password: </label>
            <input type="text" name="password1" class="adminbox"><br>
            <label for="password2">Password: </label>
            <input type="text" name="password2" class="adminbox">
        </form>
    </section>
</body>
</html>