<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editplaces</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/navbar.css">
    
    <style>
        .addplacebtn{
            height: 40px;
            width: 150px;
            background-color: #fac102;
            border-radius: 20px;
            font-size: 20px;
            color: whitesmoke;
        }

        .addplacebtn:hover{
            background: none;
            border: 2px solid #fac102;
            color: #fac102;
        }
        .log-alert{
            width: 470px;
            font-size: 15px;
        }

        h2{
            font-size: 50px;
            text-align: center;
        }

        .addform{
            margin-left: 3%;
        }

        .addform .tbox{
            height: 45px;
            width: 100%;
        }

        .addform .tbox label{
            font-size: 20px;
            font-weight: bold;
        }

        .addform .tbox input,select{
            background: none;
            border: 2px solid black;
            width: 350px;
            height: 35px;
            border-radius: 10px;
            padding: 2px;
            font-size: 20px;
            text-transform: none;
        }

        .addform .tbox textarea{
            background: none;
            position: fixed;
            border: 2px solid black;
            border-radius: 10px;
            font-size: 20px;
            text-transform: none;
            padding: 2px;
        }
    </style>
</head>
<body>
    <header class="topnav" id="topnavbar">
        <div class="linkrow">
            <button class="nav-toggler"><span></span></button>
            <label class="logo"><a href="/admins/adminland" class="logo"><span>P</span>ACK <span>U</span>R
                    <span>B</span>AGS</a></label>
            <div class="links">
                <ul>
                    <li><a href="/admins/adminland">Home</a></li>
                </ul>
            </div>
    </header><br><br><br>
    <h2>Add Place</h2>
    <div class="addform">
        <form action="/adminplace/addplace" method="post" enctype="multipart/form-data">
            <div class="tbox">
                <label for="to">To: </label>
                <input type="text" name="to" placeholder="enter destination">
            </div><br>
            <div class="tbox">
                <label for="details">Details: </label>
                <textarea name="details" id="details" cols="100" rows="5"></textarea>
            </div><br><br><br><br><br><br><br><br>
            <div class="tbox">
                <label for="photo">photo: </label>
                <input type="file" name="photo">
            </div>
            <div class="tbox">
                <label for="password">Password: </label>
                <input type="password" name="password" placeholder="enter password">
            </div>
            <button type="submit" class="addplacebtn">submit</button>
        </form>
    </div>
</body>
</html>