<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tours and Travel Landing Page</title>

    <!-- For zoom-in and fade-up -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- Custom CSS Link... -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">



    <!-- Font Awesome Link... -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!-- FAVICON  -->
    <link rel="icon" href="/img/images/fav1.png">

    <!-- Script for animation and swiper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>

<body>


    <div class="arrow" id="arrow">
        <a href="#home"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    </div>

    <header class="topnav" id="topnavbar">
        <div class="linkrow">
            <button class="nav-toggler"><span></span></button>
            <label class="logo"><a href="/admins/adminland" class="logo"><span>P</span>ACK <span>U</span>R
                    <span>B</span>AGS</a></label>
            <div class="links">
                <ul>
                    <li><a href="/admins/adminland">Home</a></li>
                    <li><a href="/admins/admin">admins</a></li>
                    <li><a href="/admins/place">places</a></li>
                    <li><a href="/admins/users">users</a></li>
                    <li><a href="/admins/feedback">Feedbacks</a></li>
                    <li><a href="/admins/bookings">bookings</a></li>
                </ul>
            </div>
            <div class="icons">
                    <% if(user.image){ %>
                        <button class="navprofile">
                            <img src="/uploads/<%= user.image%>" alt="profile_image">
                            <i class='bx bx-chevron-down fa-2x' id="down"></i>
                        </button>
                        <ul class="sub-menu">
                            <li><a href="/profile/profile">My profile</a></li>
                            <li><a href="#">My tours</a></li>
                            <li><a href="#">transactions</a></li>
                            <li><a href="/logout">logout</a></li>
                        </ul>
                 
                        <%} %>
                            <% if(!user.image){ %>
                                <button class="navprofile">
                                    <img src="/img/images/profile_pic.jpeg" alt="profile_image">
                                    <i class='bx bx-chevron-down fa-2x' id="down"></i>
                                </button>
                                <ul class="sub-menu">
                                    <li><a href="/admins/adminprofile">My profile</a></li>
                                    <li><a href="#">My tours</a></li>
                                    <li><a href="#">transactions</a></li>
                                    <li><a href="/logout">logout</a></li>
                                </ul>
                                <%} %>
            </div> 
        </div>
    </header>
    <!-- Header Section Ends here... -->

        <!-- Home Section Starts... -->
        <section class="home" id="home">
            <div class="content">
                <% if(locals.user != null) {%>
                <h3>Welcome <%=user.name %>!</h3>
                <% } %>
               
            </div>
            <div class="video-container">
                <video src="/img/images/vid-1.mp4" loop autoplay muted></video>
            </div>
        </section>
        <!-- Home Section Ends... -->
    <script src="/js/script.js"></script>
</body>

</html>