<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editplaces</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    
    <style>
        body{
            margin-top: 100px;
        }

        .addplacebtn{
            height: 40px;
            width: 150px;
            background-color: #fac102;
            border-radius: 20px;
            font-size: 20px;
            color: whitesmoke;
        }

        .addplacebtn:hover{
            background: none;
            border: 2px solid #fac102;
            color: #fac102;
        }
        .log-alert{
            width: 470px;
            font-size: 15px;
        }

        h2{
            font-size: 50px;
            text-align: center;
        }

        .addform{
            margin-left: 3%;
        }

        .addform .tbox{
            height: 45px;
            width: 100%;
        }

        .addform .tbox label{
            font-size: 20px;
            font-weight: bold;
        }

        .addform .tbox input,select{
            background: none;
            border: 2px solid black;
            width: 350px;
            height: 35px;
            border-radius: 10px;
            padding: 2px;
            font-size: 20px;
            text-transform: none;
        }

        .addform .tbox textarea{
            background: none;
            position: fixed;
            border: 2px solid black;
            border-radius: 10px;
            font-size: 20px;
            text-transform: none;
            padding: 2px;
        }
    </style>
</head>
<body>
    <div class="topnav">
        <div id="menu-bar" class="fas fa-bars"></div>
    
        <a href="/admins/adminland/<%=locals.user.username%>" class="logo"><span>P</span>ACK <span>U</span>R <span>B</span>AGS</a>
        <nav class="navbar">
            <a href="/admins/adminland/<%=locals.user.username%>">Home</a>
        </nav>
    </div>
    <h2>Add Place</h2>
    <div class="addform">
        <form action="/admins/addplace" method="post" enctype="multipart/form-data">
            <div class="tbox">
                <label for="from">From: </label>
                <input type="text" name="from" placeholder="enter from">
            </div>
            <div class="tbox">
                <label for="from">To: </label>
                <input type="text" name="to" placeholder="enter destination">
            </div><br>
            <div class="tbox">
                <label for="details">Details: </label>
                <textarea name="details" id="details" cols="100" rows="5"></textarea>
            </div><br><br><br><br><br><br><br><br>
            <div class="tbox">
                <label for="price">cost per day in Rs: </label>
                <input type="text" name="price" placeholder="enter destination">
            </div><br>
            <div class="tbox">
                <label for="type">resing: </label>
                <select name="type" id="type">
                    <option value="camp">Camping</option>
                    <option value="hotels">Hotels</option>
                </select>
            </div>
            <button type="submit" class="addplacebtn">submit</button>
        </form>
    </div>
</body>
</html>