<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beach</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/placepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/area.css">
    <link rel="icon" href="img/images/fav1.png">

    <script src="js\script.js"></script>
</head>
<body>
    <div class="arrow" id="arrow">
        <a href="#packages"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    </div>

    <!-- Header Section Starts here... -->
    <%- include('navbar'); %>

    <section class="packages" id="packages">

        <h1 class="heading">
            <span>p</span>
            <span>a</span>
            <span>c</span>
            <span>k</span>
            <span>a</span>
            <span>g</span>
            <span>e</span>
            <span>s</span>
        </h1>

        <div class="box-container">

            <div class="box">
                <img src="img/places/beach/blue-ocean-resort.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Blue Ocean </h3>
                    <p>Located on the beach front, over the paradisiacal beaches of white sand and turquoise water of Bavaro, the Ocean Blue & Sand hotel boasts a complete structure perfectly integrated to its setting.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d1" class="btn">visit</a>

                </div>
            </div>

            <div class="box">
                <img src="img/places/beach/paradise.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Karnataka </h3>
                    <p>The river cruises start from Tourist Jetty on Mandovi river in Panaji town on Old Panaji Road.
                        Each cruise is triple decked and a lovely panoramic view of the city of Panjim.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d2" class="btn">visit</a>

                </div>
            </div>

            <div class="box">
                <img src="img/places/beach/radisson.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Manali </h3>
                    <p>The top things to do in Himachal pradesh are Manali, Shimla, Mcleodganj, Dalhousie, Spiti, Kasol.
                        You can see all the places to visit in Himachal pradesh here</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d3" class="btn">visit</a>

                </div>
            </div>

            <div class="box">
                <img src="img/places/beach/cherai.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Cherai </h3>
                    <p>Imagine a mix of everything that Cherai has to offer, the beach, the backwaters, the smell of the palm trees, the view of the tall coconut trees and the far-stretched paddy fields all at one place; Cherai Beach Resort is that very place!</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d4" class="btn">visit</a>

                </div>
            </div>

            <div class="box">
                <img src="img/places/beach/barefoot.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Kodaikanal </h3>
                    <p>Kodaikanal is a hill town in the southern Indian state of Tamil Nadu. It’s set in an area of
                        granite cliffs, forested valleys, lakes, waterfalls and grassy hills.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d5" class="btn">visit</a>

                </div>
            </div>

            <div class="box">
                <img src="img/places/beach/taj_fisher.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Delhi </h3>
                    <p>Delhi showcases an ancient culture and a rapidly modernising country. Dotted with monuments there
                        is much to discover here.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d6" class="btn">visit</a>

                </div>
            </div>
        </div>

    </section>

    <section class="d1" id="d1">
        <h3>HOTELS NEAR PUTHUR</h3><br>
        <p>This Small Village In Andhra Pradesh Is Popular For Its Agriculture, Mangroves And The Prominent Silk
            Business. The People Are Involved In Various Facets Of Silk Saree Weaving. Enjoy The Grand Tour Of The Silk
            Saree Making Process, The Warm Hospitality Of The People And The Many Temples That Dot This Little Village.
        </p>
        <br>
        <button onclick="show('read1')" class="btn1">Show Hotels</button>
        <div class="read" id="read1">
            <div class="box-container">
                <div class="box">
                    <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                    <div class="content">
                        <h1 class="hotel">Gateway Hotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Located in the financial capital of Andhra Pradesh, The Gateway
                            Hotel M G Road offers a rooftop swimming pool and modern rooms
                            with a flat-screen TV.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹1200.00 <span>₹1900.00</span></div>
                        <a href="#" class="btn">Check Availabilty</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Novotel.webp" alt="Novotel" />
                    <div class="content">
                        <h1 class="hotel">Novotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Novotel Vijayawada Varun has a restaurant, outdoor swimming pool,
                            a fitness centre and bar in Vijayawāda. With free WiFi, this
                            5-star hotel offers a shared lounge and a concierge service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹2200.00 <span>₹2500.00</span></div>
                        <a href="#" class="btn">Check Availabilty</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                    <div class="content">
                        <h1 class="hotel">Taj Ganges</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Spread over 40 acres of tropical gardens, Taj Ganges, Varanasi is a peaceful getaway in the
                            ancient temple
                            city of Varanasi. Offering an outdoor pool and a spa, it also has 24-hour room service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹4000.00 <span>₹4500.00</span></div>
                        <a href="#" class="btn">Check Availabilty</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="d2" id="d2">
        <h3>HOTELS NEAR THEERTHAMALAI</h3><br>
        <p>This Small Village In Andhra Pradesh Is Popular For Its Agriculture, Mangroves And The Prominent Silk
            Business. The People Are Involved In Various Facets Of Silk Saree Weaving. Enjoy The Grand Tour Of The Silk
            Saree Making Process, The Warm Hospitality Of The People And The Many Temples That Dot This Little Village.
        </p>
        <br>
        <button onclick="show('read2')" class="btn1">Show Hotels</button>
        <div class="read" id="read2">
            <div class="box-container">
                <div class="box">
                    <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                    <div class="content">
                        <h1 class="hotel">Gateway Hotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Located in the financial capital of Andhra Pradesh, The Gateway
                            Hotel M G Road offers a rooftop swimming pool and modern rooms
                            with a flat-screen TV.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹1200.00 <span>₹1900.00</span></div>
                        <a href="#" class="btn">Check Availabilty</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Novotel.webp" alt="Novotel" />
                    <div class="content">
                        <h1 class="hotel">Novotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Novotel Vijayawada Varun has a restaurant, outdoor swimming pool,
                            a fitness centre and bar in Vijayawāda. With free WiFi, this
                            5-star hotel offers a shared lounge and a concierge service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹2200.00 <span>₹2500.00</span></div>
                        <a href="#" class="btn">Check Availabilty</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                    <div class="content">
                        <h1 class="hotel">Taj Ganges</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Spread over 40 acres of tropical gardens, Taj Ganges, Varanasi is a peaceful getaway in the
                            ancient temple
                            city of Varanasi. Offering an outdoor pool and a spa, it also has 24-hour room service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹4000.00 <span>₹4500.00</span></div>
                        <a href="#" class="btn">Check Availabilty</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="d3" id="d3">
        <h3>HOTELS NEAR SHYAM GAON</h3><br>
        <p>This Small Village In Andhra Pradesh Is Popular For Its Agriculture, Mangroves And The Prominent Silk
            Business. The People Are Involved In Various Facets Of Silk Saree Weaving. Enjoy The Grand Tour Of The Silk
            Saree Making Process, The Warm Hospitality Of The People And The Many Temples That Dot This Little Village.
        </p>
        <br>
        <button onclick="show('read3')" class="btn1">Show Hotels</button>
        <div class="read" id="read3">
            <div class="box-container">
                <div class="box">
                    <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                    <div class="content">
                        <h1 class="hotel">Gateway Hotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Located in the financial capital of Andhra Pradesh, The Gateway
                            Hotel M G Road offers a rooftop swimming pool and modern rooms
                            with a flat-screen TV.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹1200.00 <span>₹1900.00</span></div>
                        <a href="#" class="btn">Check Availabilty</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Novotel.webp" alt="Novotel" />
                    <div class="content">
                        <h1 class="hotel">Novotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Novotel Vijayawada Varun has a restaurant, outdoor swimming pool,
                            a fitness centre and bar in Vijayawāda. With free WiFi, this
                            5-star hotel offers a shared lounge and a concierge service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹2200.00 <span>₹2500.00</span></div>
                        <a href="#" class="btn">Check Availabilty</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                    <div class="content">
                        <h1 class="hotel">Taj Ganges</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Spread over 40 acres of tropical gardens, Taj Ganges, Varanasi is a peaceful getaway in the
                            ancient temple
                            city of Varanasi. Offering an outdoor pool and a spa, it also has 24-hour room service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹4000.00 <span>₹4500.00</span></div>
                        <a href="#" class="btn">Check Availabilty</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="d4" id="d4">
        <h3>HOTELS IN CHITRAKOTE</h3><br>
        <p>This Small Village In Andhra Pradesh Is Popular For Its Agriculture, Mangroves And The Prominent Silk
            Business. The People Are Involved In Various Facets Of Silk Saree Weaving. Enjoy The Grand Tour Of The Silk
            Saree Making Process, The Warm Hospitality Of The People And The Many Temples That Dot This Little Village.
        </p>
        <br>
        <button onclick="show('read4')" class="btn1">Show Hotels</button>
        <div class="read" id="read4">
            <div class="box-container">
                <div class="box">
                    <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                    <div class="content">
                        <h1 class="hotel">Gateway Hotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Located in the financial capital of Andhra Pradesh, The Gateway
                            Hotel M G Road offers a rooftop swimming pool and modern rooms
                            with a flat-screen TV.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹1200.00 <span>₹1900.00</span></div>
                        <a href="#" class="btn">Check Availabilty</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Novotel.webp" alt="Novotel" />
                    <div class="content">
                        <h1 class="hotel">Novotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Novotel Vijayawada Varun has a restaurant, outdoor swimming pool,
                            a fitness centre and bar in Vijayawāda. With free WiFi, this
                            5-star hotel offers a shared lounge and a concierge service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹2200.00 <span>₹2500.00</span></div>
                        <a href="#" class="btn">Check Availabilty</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                    <div class="content">
                        <h1 class="hotel">Taj Ganges</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Spread over 40 acres of tropical gardens, Taj Ganges, Varanasi is a peaceful getaway in the
                            ancient temple
                            city of Varanasi. Offering an outdoor pool and a spa, it also has 24-hour room service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹4000.00 <span>₹4500.00</span></div>
                        <a href="#" class="btn">Check Availabilty</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="d5" id="d5">
        <h3>HOTELS IN LACHEN</h3><br>
        <p>This Small Village In Andhra Pradesh Is Popular For Its Agriculture, Mangroves And The Prominent Silk
            Business. The People Are Involved In Various Facets Of Silk Saree Weaving. Enjoy The Grand Tour Of The Silk
            Saree Making Process, The Warm Hospitality Of The People And The Many Temples That Dot This Little Village.
        </p>
        <br>
        <button onclick="show('read5')" class="btn1">Show Hotels</button>
        <div class="read" id="read5">
            <div class="box-container">
                <div class="box">
                    <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                    <div class="content">
                        <h1 class="hotel">Gateway Hotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Located in the financial capital of Andhra Pradesh, The Gateway
                            Hotel M G Road offers a rooftop swimming pool and modern rooms
                            with a flat-screen TV.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹1200.00 <span>₹1900.00</span></div>
                        <a href="#" class="btn">Check Availabilty</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Novotel.webp" alt="Novotel" />
                    <div class="content">
                        <h1 class="hotel">Novotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Novotel Vijayawada Varun has a restaurant, outdoor swimming pool,
                            a fitness centre and bar in Vijayawāda. With free WiFi, this
                            5-star hotel offers a shared lounge and a concierge service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹2200.00 <span>₹2500.00</span></div>
                        <a href="#" class="btn">Check Availabilty</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                    <div class="content">
                        <h1 class="hotel">Taj Ganges</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Spread over 40 acres of tropical gardens, Taj Ganges, Varanasi is a peaceful getaway in the
                            ancient temple
                            city of Varanasi. Offering an outdoor pool and a spa, it also has 24-hour room service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹4000.00 <span>₹4500.00</span></div>
                        <a href="#" class="btn">Check Availabilty</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="d6" id="d6">
        <h3>HOTELS NEAR HODKA</h3><br>
        <p>This Small Village In Andhra Pradesh Is Popular For Its Agriculture, Mangroves And The Prominent Silk
            Business. The People Are Involved In Various Facets Of Silk Saree Weaving. Enjoy The Grand Tour Of The Silk
            Saree Making Process, The Warm Hospitality Of The People And The Many Temples That Dot This Little Village.
        </p>
        <br>
        <button onclick="show('read6')" class="btn1">Show Hotels</button>
        <div class="read" id="read6">
            <div class="box-container">
                <div class="box">
                    <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                    <div class="content">
                        <h1 class="hotel">Gateway Hotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Located in the financial capital of Andhra Pradesh, The Gateway
                            Hotel M G Road offers a rooftop swimming pool and modern rooms
                            with a flat-screen TV.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹1200.00 <span>₹1900.00</span></div>
                        <a href="#" class="btn">Check Availabilty</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Novotel.webp" alt="Novotel" />
                    <div class="content">
                        <h1 class="hotel">Novotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Novotel Vijayawada Varun has a restaurant, outdoor swimming pool,
                            a fitness centre and bar in Vijayawāda. With free WiFi, this
                            5-star hotel offers a shared lounge and a concierge service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹2200.00 <span>₹2500.00</span></div>
                        <a href="#" class="btn">Check Availabilty</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                    <div class="content">
                        <h1 class="hotel">Taj Ganges</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Spread over 40 acres of tropical gardens, Taj Ganges, Varanasi is a peaceful getaway in the
                            ancient temple
                            city of Varanasi. Offering an outdoor pool and a spa, it also has 24-hour room service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹4000.00 <span>₹4500.00</span></div>
                        <a href="#" class="btn">Check Availabilty</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('footer'); %>

    <!-- footer section ends -->

    <!-- custom js file link  -->
    <script src="js/script.js"></script>
</body>
</html>