<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desert</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/placepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/area.css">
    <link rel="icon" href="img/images/fav1.png">

    <script src="js\script.js"></script>
</head>
<body>
    <div class="arrow" id="arrow">
        <a href="#packages"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    </div>

    <!-- Header Section Starts here... -->
    <%- include('navbar'); %>

    <section class="packages" id="packages">

        <h1 class="heading">
            <span>p</span>
            <span>a</span>
            <span>c</span>
            <span>k</span>
            <span>a</span>
            <span>g</span>
            <span>e</span>
            <span>s</span>
        </h1>

        <div class="box-container">

            <div class="box">
                <img src="img/places/desert/1.SAHARA DESERT.jpeg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Sahara desert </h3>
                    <p>The Sahara is a desert on the African continent. With an area of 9,200,000 square kilometres, it is the largest hot desert in the world and the third largest desert overall, smaller only than the deserts of Antarctica and the northern Arctic.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d1" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="img/places/desert/2. GOBI DESERT.jpeg">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i>  Gobi Desert </h3>
                    <p>The Gobi Desert is a vast, arid region in northern China and southern Mongolia. It's known for its dunes, mountains and rare animals such as snow leopards and Bactrian camels. In the Gobi Gurvansaikhan National Park, the Khongoryn Els sand dunes are said to sing when the wind blows. The park also features…</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d2" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="img/places/desert/3. Kalahari desert.jpeg">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Kalahari desert </h3>
                    <p>The Kalahari Desert is a large semi-arid sandy savanna in Southern Africa extending for 900,000 square kilometres, covering much of Botswana, and parts of Namibia and South Africa.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d3" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="img/places/desert/Thar desert.jpeg">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Thar desert</h3>
                    <p>The Thar Desert, also known as the Great Indian Desert, is a large arid region in the northwestern part of the Indian subcontinent that covers an area of 200,000 km² and forms a natural boundary between India and Pakistan. It is the world's 20th-largest desert, and the world's 9th-largest hot subtropical desert.
                    </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d4" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="img/places/desert/5. Namib desert.jpeg">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i>  Namib desert </h3>
                    <p>The Namib Desert is believed to be the world's oldest desert and it has been arid for at least 55 million years (Barnard 1998). The convergence of the Benguela upwelling and the hot interior have maintained, and perhaps increased this aridity in recent times, but they did not generate the aridity</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d5" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="img/places/desert/6 . Atacama desert.jpeg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Atacama desert </h3>
                    <p>The Atacama Desert is the driest nonpolar desert in the world, as well as the only true desert to receive less precipitation than the polar deserts and the largest fog desert in the world. Both regions have been used as experimentation sites on Earth for Mars expedition simulations..</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d6" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="img/places/desert/7. Mojave desert.jpeg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Mojave desert </h3>
                    <p>The Mojave Desert is a xeric desert in the rain shadow of the Sierra Nevada mountains in the Southwestern United States. It is named for the indigenous Mojave people. It is located primarily in southeastern California and southwestern Nevada, with small portions extending into Arizona and Utah.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d7" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="img/places/desert/8. Great Victoria desert.jpeg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Great Victoria desert </h3>
                    <p>The Great Victoria Desert is the largest desert in Australia. It consists of sand dunes, small sandhills, grassland plains, areas with closely packed pebbles (called desert pavement or gibber plains) and salt lakes. The desert is an Australian IBRA..</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d8" class="btn">book now</a>
                </div>
            </div>

    </section>

    
    <section class="d1" id="d1">
        <h3>HOTELS NEAR PUTHUR</h3><br>
        <p>This Small Village In Andhra Pradesh Is Popular For Its Agriculture, Mangroves And The Prominent Silk
            Business. The People Are Involved In Various Facets Of Silk Saree Weaving. Enjoy The Grand Tour Of The Silk
            Saree Making Process, The Warm Hospitality Of The People And The Many Temples That Dot This Little Village.
        </p>
        <br>
        <button onclick="show('read1')" class="btn1">Show Hotels</button>
        <div class="read" id="read1">
            <div class="box-container">
                <div class="box">
                    <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                    <div class="content">
                        <h1 class="hotel">Gateway Hotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Located in the financial capital of Andhra Pradesh, The Gateway
                            Hotel M G Road offers a rooftop swimming pool and modern rooms
                            with a flat-screen TV.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹1200.00 <span>₹1900.00</span></div>
                        <a href="#" class="btn">Book</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Novotel.webp" alt="Novotel" />
                    <div class="content">
                        <h1 class="hotel">Novotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Novotel Vijayawada Varun has a restaurant, outdoor swimming pool,
                            a fitness centre and bar in Vijayawāda. With free WiFi, this
                            5-star hotel offers a shared lounge and a concierge service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹2200.00 <span>₹2500.00</span></div>
                        <a href="#" class="btn">Book</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                    <div class="content">
                        <h1 class="hotel">Taj Ganges</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Spread over 40 acres of tropical gardens, Taj Ganges, Varanasi is a peaceful getaway in the
                            ancient temple
                            city of Varanasi. Offering an outdoor pool and a spa, it also has 24-hour room service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹4000.00 <span>₹4500.00</span></div>
                        <a href="#" class="btn">Book</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="d2" id="d2">
        <h3>HOTELS NEAR THEERTHAMALAI</h3><br>
        <p>This Small Village In Andhra Pradesh Is Popular For Its Agriculture, Mangroves And The Prominent Silk
            Business. The People Are Involved In Various Facets Of Silk Saree Weaving. Enjoy The Grand Tour Of The Silk
            Saree Making Process, The Warm Hospitality Of The People And The Many Temples That Dot This Little Village.
        </p>
        <br>
        <button onclick="show('read2')" class="btn1">Show Hotels</button>
        <div class="read" id="read2">
            <div class="box-container">
                <div class="box">
                    <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                    <div class="content">
                        <h1 class="hotel">Gateway Hotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Located in the financial capital of Andhra Pradesh, The Gateway
                            Hotel M G Road offers a rooftop swimming pool and modern rooms
                            with a flat-screen TV.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹1200.00 <span>₹1900.00</span></div>
                        <a href="#" class="btn">Book</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Novotel.webp" alt="Novotel" />
                    <div class="content">
                        <h1 class="hotel">Novotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Novotel Vijayawada Varun has a restaurant, outdoor swimming pool,
                            a fitness centre and bar in Vijayawāda. With free WiFi, this
                            5-star hotel offers a shared lounge and a concierge service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹2200.00 <span>₹2500.00</span></div>
                        <a href="#" class="btn">Book</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                    <div class="content">
                        <h1 class="hotel">Taj Ganges</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Spread over 40 acres of tropical gardens, Taj Ganges, Varanasi is a peaceful getaway in the
                            ancient temple
                            city of Varanasi. Offering an outdoor pool and a spa, it also has 24-hour room service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹4000.00 <span>₹4500.00</span></div>
                        <a href="#" class="btn">Book</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="d3" id="d3">
        <h3>HOTELS NEAR SHYAM GAON</h3><br>
        <p>This Small Village In Andhra Pradesh Is Popular For Its Agriculture, Mangroves And The Prominent Silk
            Business. The People Are Involved In Various Facets Of Silk Saree Weaving. Enjoy The Grand Tour Of The Silk
            Saree Making Process, The Warm Hospitality Of The People And The Many Temples That Dot This Little Village.
        </p>
        <br>
        <button onclick="show('read3')" class="btn1">Show Hotels</button>
        <div class="read" id="read3">
            <div class="box-container">
                <div class="box">
                    <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                    <div class="content">
                        <h1 class="hotel">Gateway Hotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Located in the financial capital of Andhra Pradesh, The Gateway
                            Hotel M G Road offers a rooftop swimming pool and modern rooms
                            with a flat-screen TV.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹1200.00 <span>₹1900.00</span></div>
                        <a href="#" class="btn">Book</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Novotel.webp" alt="Novotel" />
                    <div class="content">
                        <h1 class="hotel">Novotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Novotel Vijayawada Varun has a restaurant, outdoor swimming pool,
                            a fitness centre and bar in Vijayawāda. With free WiFi, this
                            5-star hotel offers a shared lounge and a concierge service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹2200.00 <span>₹2500.00</span></div>
                        <a href="#" class="btn">Book</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                    <div class="content">
                        <h1 class="hotel">Taj Ganges</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Spread over 40 acres of tropical gardens, Taj Ganges, Varanasi is a peaceful getaway in the
                            ancient temple
                            city of Varanasi. Offering an outdoor pool and a spa, it also has 24-hour room service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹4000.00 <span>₹4500.00</span></div>
                        <a href="#" class="btn">Book</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="d4" id="d4">
        <h3>HOTELS IN CHITRAKOTE</h3><br>
        <p>This Small Village In Andhra Pradesh Is Popular For Its Agriculture, Mangroves And The Prominent Silk
            Business. The People Are Involved In Various Facets Of Silk Saree Weaving. Enjoy The Grand Tour Of The Silk
            Saree Making Process, The Warm Hospitality Of The People And The Many Temples That Dot This Little Village.
        </p>
        <br>
        <button onclick="show('read4')" class="btn1">Show Hotels</button>
        <div class="read" id="read4">
            <div class="box-container">
                <div class="box">
                    <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                    <div class="content">
                        <h1 class="hotel">Gateway Hotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Located in the financial capital of Andhra Pradesh, The Gateway
                            Hotel M G Road offers a rooftop swimming pool and modern rooms
                            with a flat-screen TV.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹1200.00 <span>₹1900.00</span></div>
                        <a href="#" class="btn">Book</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Novotel.webp" alt="Novotel" />
                    <div class="content">
                        <h1 class="hotel">Novotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Novotel Vijayawada Varun has a restaurant, outdoor swimming pool,
                            a fitness centre and bar in Vijayawāda. With free WiFi, this
                            5-star hotel offers a shared lounge and a concierge service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹2200.00 <span>₹2500.00</span></div>
                        <a href="#" class="btn">Book</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                    <div class="content">
                        <h1 class="hotel">Taj Ganges</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Spread over 40 acres of tropical gardens, Taj Ganges, Varanasi is a peaceful getaway in the
                            ancient temple
                            city of Varanasi. Offering an outdoor pool and a spa, it also has 24-hour room service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹4000.00 <span>₹4500.00</span></div>
                        <a href="#" class="btn">Book</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="d5" id="d5">
        <h3>HOTELS IN LACHEN</h3><br>
        <p>This Small Village In Andhra Pradesh Is Popular For Its Agriculture, Mangroves And The Prominent Silk
            Business. The People Are Involved In Various Facets Of Silk Saree Weaving. Enjoy The Grand Tour Of The Silk
            Saree Making Process, The Warm Hospitality Of The People And The Many Temples That Dot This Little Village.
        </p>
        <br>
        <button onclick="show('read5')" class="btn1">Show Hotels</button>
        <div class="read" id="read5">
            <div class="box-container">
                <div class="box">
                    <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                    <div class="content">
                        <h1 class="hotel">Gateway Hotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Located in the financial capital of Andhra Pradesh, The Gateway
                            Hotel M G Road offers a rooftop swimming pool and modern rooms
                            with a flat-screen TV.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹1200.00 <span>₹1900.00</span></div>
                        <a href="#" class="btn">Book</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Novotel.webp" alt="Novotel" />
                    <div class="content">
                        <h1 class="hotel">Novotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Novotel Vijayawada Varun has a restaurant, outdoor swimming pool,
                            a fitness centre and bar in Vijayawāda. With free WiFi, this
                            5-star hotel offers a shared lounge and a concierge service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹2200.00 <span>₹2500.00</span></div>
                        <a href="#" class="btn">Book</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                    <div class="content">
                        <h1 class="hotel">Taj Ganges</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Spread over 40 acres of tropical gardens, Taj Ganges, Varanasi is a peaceful getaway in the
                            ancient temple
                            city of Varanasi. Offering an outdoor pool and a spa, it also has 24-hour room service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹4000.00 <span>₹4500.00</span></div>
                        <a href="#" class="btn">Book</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="d6" id="d6">
        <h3>HOTELS NEAR HODKA</h3><br>
        <p>This Small Village In Andhra Pradesh Is Popular For Its Agriculture, Mangroves And The Prominent Silk
            Business. The People Are Involved In Various Facets Of Silk Saree Weaving. Enjoy The Grand Tour Of The Silk
            Saree Making Process, The Warm Hospitality Of The People And The Many Temples That Dot This Little Village.
        </p>
        <br>
        <button onclick="show('read6')" class="btn1">Show Hotels</button>
        <div class="read" id="read6">
            <div class="box-container">
                <div class="box">
                    <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                    <div class="content">
                        <h1 class="hotel">Gateway Hotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Located in the financial capital of Andhra Pradesh, The Gateway
                            Hotel M G Road offers a rooftop swimming pool and modern rooms
                            with a flat-screen TV.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹1200.00 <span>₹1900.00</span></div>
                        <a href="#" class="btn">Book</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Novotel.webp" alt="Novotel" />
                    <div class="content">
                        <h1 class="hotel">Novotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Novotel Vijayawada Varun has a restaurant, outdoor swimming pool,
                            a fitness centre and bar in Vijayawāda. With free WiFi, this
                            5-star hotel offers a shared lounge and a concierge service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹2200.00 <span>₹2500.00</span></div>
                        <a href="#" class="btn">Book</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                    <div class="content">
                        <h1 class="hotel">Taj Ganges</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Vijayawada</h3>
                        <p>
                            Spread over 40 acres of tropical gardens, Taj Ganges, Varanasi is a peaceful getaway in the
                            ancient temple
                            city of Varanasi. Offering an outdoor pool and a spa, it also has 24-hour room service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹4000.00 <span>₹4500.00</span></div>
                        <a href="#" class="btn">Book</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer" id="footer">
        <div class="box-container">
            <div class="box">
                <p>
                    PLAN YOUR HOLIDAYS WITH OUR ASSISTANCE,
                    JUST FILL IN YOUR DETAILS.
                </p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>

            <div class="box">
                <h3>quick links</h3>
                <a href="#home" class="links">
                    <i class="fas fa-arrow-right"></i> home
                </a>
                <a href="#about" class="links">
                    <i class="fas fa-arrow-right"></i> about
                </a>
                <a href="#services" class="links">
                    <i class="fas fa-arrow-right"></i> services
                </a>
                <a href="#gallery" class="links">
                    <i class="fas fa-arrow-right"></i> gallery
                </a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <p><i class="fas fa-map"></i> indian institute of information technology sricity, andra pradesh</p>
                <p><i class="fas fa-phone"></i> +91-93987 17554</p>
                <p><i class="fas fa-envelope"></i> packyourbag@gmail.com </p>
                <p><i class="fas fa-clock"></i> 7:00am - 10:00pm</p>
            </div>

            <div class="box">
                <h3>newsletter</h3>
                <p>subscribe for latest updates</p>
                <form action="">
                    <input type="email" name="" placeholder="enter your email" class="email" id="" />
                    <input type="submit" value="subscribe" class="btn" />
                </form>
            </div>
        </div>
    </section>

    <div class="credit">
        Copyright © 2022 Created By <span>IIITS STUDENTS</span> | all rights reserved !!
    </div>

    <!-- footer section ends -->
</body>
</html>