<%-include('header');%>
<table>
    <tr>
    <th>Uid:</th>
    <th>First name:</th>
    <th>Last name:</th>
    </tr>

   <%for(const ffsd of model) {%>
    <tr>
    <td><%- ffsd.username%></td>
    <td><%- ffsd.email%></td>
    <td><%- ffsd.password%></td>
    </tr>
    <%} %>
</table>