<header class="topnav" id="topnavbar">
    <div class="linkrow">
        <button class="nav-toggler"><span></span></button>
        <label class="logo"><a href="/index/index" class="logo"><span>P</span>ACK <span>U</span>R
                <span>B</span>AGS</a></label>
        <div class="links">
            <ul>
                <li><a href="/index/index">Home</a></li>
            </ul>
        </div>
</header>