<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/footer.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        table{
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            font-size: larger;
        }
    </style>
</head>
<body>
    <!-- Header Section Starts here... -->
    <header>
        <div id="menu-bar" class="fas fa-bars"></div>
    
        <a href="/" class="logo"><span>P</span>ACK <span>U</span>R <span>B</span>AGS</a>
        <nav class="navbar">
            <a href="/index/index/<%=user.email%>">Home</a>
            <a href="#packages">Packages</a>
            <a href="#d1">Hotels</a>
            <a href="review">Reviews</a>
            <a href="#footer">Contact</a>
        </nav>
        <!-- <div class="icons">
            <i class="fas fa-search" id="search-btn"></i>
            <a href="login"><i class="fa fa-user" aria-hidden="true" id="login-btn"></i></a>
        </div> -->
        <!-- <form action="" class="search-bar-container">
            <input type="search" id="search-bar" placeholder="Search here..">
            <label for="search-bar" class="fas fa-search"></label>
        </form> -->
    </header>
    <!-- Header Section Ends here... -->
<br><br><br><br><br><br>
    <table>
        <tr>
            <td>Name :</td>
            <td><%=locals.user.name%></td>
        </tr>
        <tr>
            <td>Name :</td>
            <td><%=locals.user.email%></td>
        </tr>
    </table>

    <%- include('footer'); %>
    <!-- footer section ends -->
</body>
</html>