<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>register</title>
  <!-- Custom CSS Link... -->
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/login.css">

  <link rel="icon" href="/img/images/fav1.png">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <!-- FAVICON  -->
  <link rel="icon" href="/img/images/fav1.png">
</head>

<body>
  <header class="topnav">
    <div class="linkrow">
      <button class="nav-toggler"><span></span></button>
      <label class="logo"><a href="/login" class="logo"><span>P</span>ACK <span>U</span>R
          <span>B</span>AGS</a></label>
    </div>
  </header>
  <div class="login-container">
    <img src="./../img/images/login4.jpg" alt="not found">
    <div class="landingcontent">
      <div class="content">
        <p>Travelling is worthwhile,</p>
        <p>Discover new places with us,</p>
        <p> Adventure awaits</p>
      </div>
    </div>
    <div id="log" class="form-container">
      <div class="top-btn">
        <h1>Sign Up</h1>
      </div>
      <form id="register" method="post" action="/users/register" onsubmit="return registerValidation()">
        <% if(locals.errors !=null) {%>
          <% errors.forEach(function(error) { %>
            <div class="log-alert" id="error-block">
              <p id="error-msg"><%= error.msg %></p>
              <span id="error-close-btn">X</span>
            </div>
            <% }); %>
              <% } %>
        <div class="input-box">
          <span class="left-icon"><i class="fa fa-user fa-1x"></i></span>
          <input type="text" id="sname" name="upname" placeholder="create username">
        </div>
        <div class="input-box">
          <span class="left-icon"><i class="fa fa-envelope-open fa-1x"></i></span>
          <input type="text" id="smail" name="upemail" placeholder="enter email">
        </div>
        <div class="input-box">
          <span class="left-icon"><i class="fa fa-key fa-1x"></i></span>
          <input type="password" id="pas" name="uppass1"
            placeholder="create password">
            <span class="right-icon"><i class="fa fa-eye fa-1x" id="show-pass"
              onclick="showPassword('show-pass','pas')"></i></span>
        </div>
        <div class="input-box">
          <span class="left-icon"><i class="fa fa-key fa-1x"></i></span>
          <input type="password" id="pas2" name="uppass2" placeholder="confirm your password">
          <span class="right-icon"><i class="fa fa-eye fa-1x" id="show-pass"
            onclick="showPassword('show-pass2','pas2')"></i></span>
        </div>
        <button type="submit" id="reg" class="btn">Sign Up</button>
        <p>Have an account already?</p>
        <button type="button" class="btn" onclick="location.href='/login'">Sign In</button>
      </form>
    </div>
  </div>

  <script src="/js/login.js">
  </script>
</body>

</html>