<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %>/tours</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">

    <!-- FAVICON  -->
    <link rel="icon" href="/img/images/fav1.png">
</head>
<body>
    <%- include('navbar'); %>
    <script src="/js/navbar.js"></script>
</body>
</html>